body{
    font-family: 'PT Serif', serif;
    background-image: url(Main-photo/5631533.jpg);
}
header{
    text-align: center;
    height: 50px;
    padding-top: 30px;
}
.flexible-part-1{
    display: flex;  
}
h1{
    font-size: 50px;
}
.text-sector-1{
    width: 50%;
    padding-left: 200px;
    padding-top: 100px;
    background-image: url(Edited-photo/5356171-removebg-preview.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-right:250px ;
    margin: 0px;
}
.text-sector-1 p{
    font-size: 20px;
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: justify;
}
.submit-sector{
    padding-top: 50px;
  
}
.link-button-1{
    text-decoration: none;
    background-image: linear-gradient(midnightblue, black);
    color: white;
    padding:5px;
    border-radius: 5px;
}
.log-button{
    color: white;
    background-image: linear-gradient(midnightblue,black );
    height: 25px;
    width: 100px;
    border-radius: 10px;
}
.cancel-button{
    color: white;
    background-image: linear-gradient(firebrick, DarkRed);
    height: 25px;
    width: 100px;
    border-radius: 10px;
}
.search-button{
    color: white;
    background-image: linear-gradient(midnightblue,black );
    height: 25px;
    width: 100px;
}
.text-sector-2{
    width: 100%;
    padding-right: 100px;
    padding-left: 225px;
    background-image: url(Edited-photo/templet-1-removebg-preview.png);
    background-repeat: no-repeat;
    background-position: left; 
    margin: 0px;
}
.flexible-part-2{
    display: flex;
    padding-top:150px;
}
#car{
    width: 50%;
    padding-left: 100px;
    padding-top: 90px;
}
.text-sector-2 p{
    font-size: 20px;
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: justify;
}
.link-button-2{
    text-decoration: none;
    background-image: linear-gradient(midnightblue, black);
    color: white;
    padding:5px 20px;
    border-radius: 5px;
    
}