body{
    font-family: 'PT Serif', serif;
    background-image: url(Main-photo/5631533.jpg);
}
header{
    text-align: center;
    height: 50px;
    padding-top: 30px;
}
.flexible-part-1{
    display: flex;  
}
h1{
    font-size: 50px;
}
h2{
    font-size:50px ;
    padding-left:100px;
    font-weight: 400;
}
.text-sector-1{
    width: 50%;
    padding-left: 200px;
    padding-top: 100px;
    background-image: url(Edited-photo/5356171-removebg-preview.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-right:250px ;
    margin: 0px;
}
.text-sector-1 p{
    font-size: 20px;
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: justify;
}
.submit-sector{
    padding-top: 50px;
  
}
.link-button-1{
    text-decoration: none;
    background-image: linear-gradient(midnightblue, black);
    color: white;
    padding:5px;
    border-radius: 5px;
}
.log-button{
    color: white;
    background-image: linear-gradient(midnightblue,black );
    height: 25px;
    width: 100px;
    border-radius: 10px;
}
.cancel-button{
    color: white;
    background-image: linear-gradient(firebrick, DarkRed);
    height: 25px;
    width: 100px;
    border-radius: 10px;
}
.search-button{
    color: white;
    background-image: linear-gradient(midnightblue,black );
    height: 25px;
    width: 100px;
}
.text-sector-2{
    width: 100%;
    padding-right: 100px;
    padding-left:300px;
    background-image: url(Edited-photo/templet-1-removebg-preview.png);
    background-repeat: no-repeat;
    background-position: left; 
    margin: 0px;
}
.flexible-part-2{
    display: flex;
    padding-top:150px;
}
#car{
    width: 50%;
    padding-left: 100px;
    padding-top: 90px;
}
.text-sector-2 p{
    font-size: 20px;
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: justify;
}
.link-button-2{
    text-decoration: none;
    background-image: linear-gradient(midnightblue, black);
    color: white;
    padding:5px 20px;
    border-radius: 5px;
    
}
.flexible-part-3{
    display: flex;
    margin: 10%;
    margin-top: 0;
    
}
#carmodel-1{
    border-top: 10px solid;
    box-shadow: 5px 5px 20px grey;
    margin: 2%;
    padding: 10px;
    padding: 20px;
    border-image: linear-gradient(purple, rebeccapurple);
    border-image-slice: 20;
    background-color: black;
    color: lightslategrey;
    border-radius: 15px;
    
    
}
#carmodel-2{
    border-top: 10px solid;
    box-shadow: 5px 5px 20px grey;
    margin:2%;
    padding: 20px;
    border-image: linear-gradient(limegreen, yellowgreen);
    border-image-slice: 20;
    background-color: black;
    color: lightslategrey;
    border-radius: 15px;
}
#carmodel-3{
    border-top: 10px solid;
    box-shadow: 5px 5px 20px grey;
    margin: 2%;
    padding: 20px;
    border-image: linear-gradient(orangered, gold);
    border-image-slice: 20;
    background-color: black;
    color: lightslategrey;
    border-radius: 15px;
   
}
#carmodel-4{
    border-top: 10px solid;
    box-shadow: 5px 5px 20px grey;
    margin: 2%;
    padding: 20px;
    border-image: linear-gradient(chocolate, brown);
    border-image-slice: 20;
    background-color: black;
    color: lightslategrey;
    border-radius: 15px;

}
footer{
    text-align: center;
    color: dimgray;
    padding-bottom: 30px;
}